/FlexClient/FlexCommon/target/
/FlexClient/FlexGente/target/
/FlexClient/FlexManantiales/target/
/FlexClient/FlexMultigame/target/
/FlexClient/FlexPasale/target/
/.DS_Store
/FlexClient/.DS_Store
/Pasale/audit.log
/FlexDS/target/
/Gente/target/
/Manantiales/target/
/Pasale/target/
/.project
/.settings/
/FlexDS/.classpath
/FlexDS/.project
/FlexDS/.settings/
/Gente/.classpath
/Gente/.project
/Gente/.settings/
/Manantiales/.classpath
/Manantiales/.project
/Manantiales/.settings/
/Pasale/.classpath
/Pasale/.project
/Pasale/.settings/