[submodule "Deploy"]
	path = Deploy
	url = git://github.com/awaterma /MultiGame-Deploy.git
[submodule "Engine"]
	path = Engine
	url = git://github.com/awaterma/MultiGame-Engine.git
[submodule "Games"]
	path = Games
	url = git://github.com/awaterma/MultiGame-Games.git
