/FlexClient/FlexCommon/target/
/FlexClient/FlexGente/target/
/FlexClient/FlexManantiales/target/
/FlexClient/FlexMultigame/target/
/FlexClient/FlexPasale/target/
/.DS_Store
/FlexClient/.DS_Store
/Pasale/audit.log
/FlexDS/target/
/Gente/target/
/Manantiales/target/
/Pasale/target/