/FlexClient/FlexCommon/target/
/FlexClient/FlexGente/target/
/FlexClient/FlexManantiales/target/
/FlexClient/FlexMultigame/target/
/FlexClient/FlexPasale/target/
/.DS_Store
/FlexClient/.DS_Store
/Pasale/audit.log
/FlexDS/target/
/Gente/target/
/Manantiales/target/
/Pasale/target/
/.project
/.settings/
/FlexDS/.classpath
/FlexDS/.project
/FlexDS/.settings/
/Gente/.classpath
/Gente/.project
/Gente/.settings/
/Manantiales/.classpath
/Manantiales/.project
/Manantiales/.settings/
/Pasale/.classpath
/Pasale/.project
/Pasale/.settings/
/Flex/FlexCommon/target/classes/config-4.1.0.16076/air-config.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/build.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/flash-unicode-table.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/flex-config.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/localFonts.ser
/Flex/FlexCommon/target/classes/config-4.1.0.16076/macFonts.ser
/Flex/FlexCommon/target/classes/config-4.1.0.16076/mx-manifest.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/mxml-2009-manifest.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/mxml-manifest.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/spark-manifest.xml
/Flex/FlexCommon/target/classes/config-4.1.0.16076/themes/Spark/spark.css
/Flex/FlexCommon/target/classes/config-4.1.0.16076/winFonts.ser
/Flex/FlexCommon/target/classes/fonts.ser
/Flex/FlexCommon/target/flex-commons-config-report.xml
/Flex/FlexCommon/target/flex-commons.swc
/Flex/FlexCommon/target/flex-commons.swf
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/exception/ExceptionType.class
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/exception/GameException.class
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/service/GameService$1.class
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/service/GameService.class
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/service/GameType.class
/Flex/FlexDS/target/classes/mx/ecosur/multigame/flexClient/service/ServiceGameEvent.class
/Flex/FlexDS/target/flex-ds-2.0-SNAPSHOT.jar
/Flex/FlexDS/target/maven-archiver/pom.properties
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/air-config.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/build.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/flash-unicode-table.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/flex-config.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/localFonts.ser
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/macFonts.ser
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/mx-manifest.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/mxml-2009-manifest.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/mxml-manifest.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/spark-manifest.xml
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/themes/Spark/spark.css
/Flex/FlexMultigame/target/classes/config-4.1.0.16076/winFonts.ser
/Flex/FlexMultigame/target/classes/fonts.ser
/Gente/FlexGente/target/classes/config-4.1.0.16076/air-config.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/build.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/flash-unicode-table.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/flex-config.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/localFonts.ser
/Gente/FlexGente/target/classes/config-4.1.0.16076/macFonts.ser
/Gente/FlexGente/target/classes/config-4.1.0.16076/mx-manifest.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/mxml-2009-manifest.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/mxml-manifest.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/spark-manifest.xml
/Gente/FlexGente/target/classes/config-4.1.0.16076/themes/Spark/spark.css
/Gente/FlexGente/target/classes/config-4.1.0.16076/winFonts.ser
/Gente/FlexGente/target/classes/fonts.ser
/Gente/FlexGente/target/Gente-config-report.xml
/Gente/FlexGente/target/Gente.swf
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/changesets/gente.xml
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/changesets/random-agent.xml
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/beaninfo/GenteGameBeanInfo.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/beaninfo/GenteMoveBeanInfo.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GenteGame$GentePlayerComparator.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GenteGame.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GenteMove$CooperationQualifier.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GenteMove.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GentePlayer.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/GenteStrategyAgent.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/Tessera.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/entity/gente/Tria.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/enums/gente/GenteStrategy$1.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/enums/gente/GenteStrategy.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/event/gente/MoveEvent.class
/Flex/.DS_Store
/Flex/FlexDS/.classpath
/Flex/FlexDS/.project
/Flex/FlexDS/.settings/org.eclipse.jdt.core.prefs
/Flex/FlexDS/.settings/org.maven.ide.eclipse.prefs
/Gente/GenteModel/.classpath
/Gente/GenteModel/.project
/Gente/GenteModel/.settings/org.eclipse.jdt.core.prefs
/Gente/GenteModel/.settings/org.maven.ide.eclipse.prefs
/Gente/GenteModel/pom.xml
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/simple-agent.xml
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/util/gente/AgentRuleFunctions$1.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/util/gente/AgentRuleFunctions.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/util/gente/RuleFunctions$1.class
/Gente/GenteModel/target/classes/mx/ecosur/multigame/impl/util/gente/RuleFunctions.class
/Gente/GenteModel/target/gente-2.0-SNAPSHOT-sources.jar
/Gente/GenteModel/target/gente-2.0-SNAPSHOT.jar
/Gente/GenteModel/target/maven-archiver/pom.properties
/Gente/GenteModel/target/surefire-reports/GenteAgentLogicTest.txt
/Gente/GenteModel/target/surefire-reports/GenteAgentTest.txt
/Gente/GenteModel/target/surefire-reports/GenteRuleFunctionTest.txt
/Gente/GenteModel/target/surefire-reports/GenteRulesTest.txt
/Gente/GenteModel/target/surefire-reports/TEST-GenteAgentLogicTest.xml
/Gente/GenteModel/target/surefire-reports/TEST-GenteAgentTest.xml
/Gente/GenteModel/target/surefire-reports/TEST-GenteRuleFunctionTest.xml
/Gente/GenteModel/target/surefire-reports/TEST-GenteRulesTest.xml
/Gente/GenteModel/target/test-classes/GenteAgentLogicTest.class
/Gente/GenteModel/target/test-classes/GenteAgentTest.class
/Gente/GenteModel/target/test-classes/GenteAgentTestBase.class
/Gente/GenteModel/target/test-classes/GenteRuleFunctionTest.class
/Gente/GenteModel/target/test-classes/GenteRulesTest.class
/Gente/GenteModel/target/test-classes/GenteTestBase.class
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/air-config.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/build.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/flash-unicode-table.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/flex-config.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/localFonts.ser
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/macFonts.ser
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/mx-manifest.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/mxml-2009-manifest.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/mxml-manifest.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/spark-manifest.xml
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/themes/Spark/spark.css
/Manantiales/FlexManantiales/target/classes/config-4.1.0.16076/winFonts.ser
/Manantiales/FlexManantiales/target/classes/fonts.ser
/Manantiales/FlexManantiales/target/Manantiales-config-report.xml
/Manantiales/FlexManantiales/target/Manantiales.swf
/Manantiales/ManantialesModel/.classpath
/Manantiales/ManantialesModel/.project
/Manantiales/ManantialesModel/.settings/org.eclipse.jdt.core.prefs
/Manantiales/ManantialesModel/.settings/org.maven.ide.eclipse.prefs
/Manantiales/ManantialesModel/target/classes/mx/ecosur/multigame/impl/util/manantiales/ManantialesMessageSender.class
/Manantiales/ManantialesModel/target/classes/mx/ecosur/multigame/impl/util/manantiales/RuleFunctions$1.class
/Manantiales/ManantialesModel/target/classes/mx/ecosur/multigame/impl/util/manantiales/RuleFunctions.class
/Manantiales/ManantialesModel/target/manantiales-2.0-SNAPSHOT.jar
/Manantiales/ManantialesModel/target/maven-archiver/pom.properties
/Manantiales/ManantialesModel/target/surefire-reports/ManantialesAgentTest.txt
/Manantiales/ManantialesModel/target/surefire-reports/ManantialesRulesTest.txt
/Manantiales/ManantialesModel/target/surefire-reports/TEST-ManantialesAgentTest.xml
/Manantiales/ManantialesModel/target/surefire-reports/TEST-ManantialesRulesTest.xml
/Manantiales/ManantialesModel/target/test-classes/ManantialesAgentTest$1.class
/Manantiales/ManantialesModel/target/test-classes/ManantialesAgentTest.class
/Manantiales/ManantialesModel/target/test-classes/ManantialesRulesTest.class
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/air-config.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/build.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/flash-unicode-table.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/flex-config.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/localFonts.ser
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/macFonts.ser
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/mx-manifest.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/mxml-2009-manifest.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/mxml-manifest.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/spark-manifest.xml
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/themes/Spark/spark.css
/Pasale/FlexPasale/target/classes/config-4.1.0.16076/winFonts.ser
/Pasale/FlexPasale/target/classes/fonts.ser
/Pasale/FlexPasale/target/Pasale-config-report.xml
/Pasale/FlexPasale/target/Pasale.swf
/Pasale/PasaleModel/audit.log
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/changesets/pasale.xml
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/beaninfo/PasaleGameBeanInfo.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasaleFicha.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasaleGame$1.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasaleGame.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasaleGrid.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasaleMove.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/entity/pasale/PasalePlayer.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/enums/pasale/TokenType.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/util/pasale/MutationEvent.class
/Pasale/PasaleModel/target/classes/mx/ecosur/multigame/impl/util/pasale/RuleFunctions.class
/Pasale/PasaleModel/target/maven-archiver/pom.properties
/Pasale/PasaleModel/target/pasale-2.0-SNAPSHOT.jar
/Pasale/PasaleModel/target/surefire-reports/PasaleRulesTest.txt
/Pasale/PasaleModel/target/surefire-reports/TEST-PasaleRulesTest.xml
/Pasale/PasaleModel/target/test-classes/PasaleRulesTest.class
/Flex/FlexCommon/target/
/Flex/FlexMultigame/target/
/Gente/FlexGente/target/
/Gente/GenteModel/target/
/Manantiales/FlexManantiales/target/
/Manantiales/ManantialesModel/target/
/games-module.iml
/Flex/FlexConfig/target/
/Flex/flex-module.iml
/Flex/FlexCommon/flex-commons.iml
/Flex/FlexConfig/flex-config.iml
/Flex/FlexDS/flex-ds.iml
/Flex/FlexMultigame/flex-client.iml
/Gente/FlexGente/flex-gente.iml
/Gente/gente-module.iml
/Gente/GenteModel/gente.iml
/Manantiales/FlexManantiales/flex-manantiales.iml
/Manantiales/manantiales-module.iml
/Manantiales/ManantialesModel/manantiales.iml
/Flex/.project
/Flex/.settings/
/Flex/FlexCommon/.classpath
/Flex/FlexCommon/.project
/Flex/FlexCommon/.settings/
/Flex/FlexConfig/.project
/Flex/FlexConfig/.settings/
/Flex/FlexDS/.settings/
/Flex/FlexDS/target/
/Flex/FlexMultigame/.classpath
/Flex/FlexMultigame/.project
/Flex/FlexMultigame/.settings/
/Gente/FlexGente/.classpath
/Gente/FlexGente/.project
/Gente/FlexGente/.settings/
/Gente/GenteModel/.settings/
/Manantiales/FlexManantiales/.classpath
/Manantiales/FlexManantiales/.project
/Manantiales/FlexManantiales/.settings/
/Manantiales/ManantialesModel/.settings/
/Manantiales/FlexManantiales/.DS_Store
Manantiales/AirManantiales/target/
Manantiales/FlashManantiales/.classpath
Manantiales/FlashManantiales/.DS_Store
Manantiales/FlashManantiales/.project
Manantiales/FlashManantiales/.settings/
Manantiales/FlashManantiales/flex-manantiales.iml
Manantiales/FlashManantiales/target/
Manantiales/AirManantiales/air-manantiales.iml
Manantiales/FlashManantiales/flash-manantiales.iml
Manantiales/FlexManantialesCommon/flex-manantiales-common.iml
Manantiales/FlexManantialesCommon/src/main/flex/mx/ecosur/sample/
Manantiales/FlexManantialesCommon/target/
Manantiales/FlexManantialesCommon/src/main/config/
Flex/FlexMultigame/flex-multigame.iml
Manantiales/.settings/org.maven.ide.eclipse.prefs
Manantiales/.settings/org.eclipse.jdt.core.prefs
Gente/.settings/org.maven.ide.eclipse.prefs
Gente/.settings/org.eclipse.jdt.core.prefs
.settings/org.maven.ide.eclipse.prefs
.intellij/
Manantiales/AirManantiales/.idea/