@namespace "library://ns.adobe.com/flex/mx";

/**
    Default styles for the Multi-Game-Flex-Client
    
    @author awaterma@ecosur.mx
    @author max@alwayssunny.com
**/
        Application {
            backgroundGradientColors: #333333, #ffffff;
            backgroundColor: #333333;
        }

       .windowStyles{
            color: #ffffff;
        }
        
        Panel{
            paddingTop: 10;
            paddingBottom: 10;
            paddingLeft: 10;
            paddingRight: 10;
            borderThicknessBottom: 5;
            borderThicknessTop: 5;
            borderThicknessLeft: 5;
            borderThicknessRight: 5;
            borderColor: #666666;
            paddingLeft: 0;
            paddingRight: 0;
            paddingTop: 0;
            paddingBottom: 0;
            borderAlpha: 0.9;
        }
        
        .fieldLit{
            color: #000000;
            font-weight: bold;
        }
        
        .field{
            color: #000000;
        }
        
        Alert {
            titleStyleName: "alertTitle";
            messageStyleName: "alertMessage";
            buttonStyleName: "alertButton";
        }

        .alertTitle {
            fontSize: 14;
            fontWeight: bold;
        }

        .alertMessage {
            fontSize: 12;
        }
        
        .alertButton {
            fontSize: 10;
            color: #000000;
        }
        
        @font-face {
			src: url("assets/Verdana.ttf");
            fontFamily: verdanaEmbed; 
            advancedAntiAliasing: true;
        }
        
        .manantialesToken {
            fontSize: 40;
            fontFamily: verdanaEmbed;
            textAlign: center;
            color: #ffffff;
        }

        .centerAlign {
            textAlign : center;
        }

        .leftAlign {
            textAlign: left;
        }

        .rightAlign {
            textAlign: right;
        }
